.menu__link { /*estilização das palavras do menu, retirando a cor padrão azul e adicionando cinza*/
    color: #ffde59;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform:uppercase; /*Põem todas as letras em maiúsculas*/
}

.menu__link.ativo {
    color: #f7c603;
    font-weight: bold;
}

.menu__link:hover {  /*Isso fará com que os links sejam sublinhados sempre que o mouse passar sobre eles.*/
    text-decoration: underline;
}